#Puzzles {
  height: 100%;
  /* outline: 2px solid hotpink; */
  --duration: 500ms;
  --delay: 200ms;
  --offset: 200ms;
}

.piece-1 {
  translate: 37.5% 12.5%;
  animation: makePuzzle var(--duration) ease-out calc(var(--delay) * 1) forwards;
}
.piece-2 {
  translate: 12.5% 12.5%;
  animation: makePuzzle var(--duration) ease-out calc(var(--delay) * 2) forwards;
}
.piece-3 {
  translate: 37.5% 37.5%;
  animation: makePuzzle var(--duration) ease-out calc(var(--delay) * 3) forwards;
}
.piece-4 {
  translate: 12.5% 37.5%;
  animation: makePuzzle var(--duration) ease-out calc(var(--delay) * 4) forwards;
}

@keyframes makePuzzle {
  to {
    translate: 25% 25%;
  }
}

.puzzle-text-1 {
  translate: -60px -60px;
  opacity: 0;
  animation: fadePuzzleText var(--duration) ease-out
    calc(var(--delay) * 1 + var(--offset)) forwards;
}
.puzzle-text-2 {
  translate: 60px -60px;
  opacity: 0;
  animation: fadePuzzleText var(--duration) ease-out
    calc(var(--delay) * 2 + var(--offset)) forwards;
}
.puzzle-text-3 {
  translate: 60px 60px;
  opacity: 0;
  animation: fadePuzzleText var(--duration) ease-out
    calc(var(--delay) * 3 + var(--offset)) forwards;
}
.puzzle-text-4 {
  translate: -60px 60px;
  opacity: 0;
  animation: fadePuzzleText var(--duration) ease-out
    calc(var(--delay) * 4 + var(--offset)) forwards;
}

@keyframes fadePuzzleText {
  to {
    opacity: 1;
    translate: 0 0;
  }
}
